spring:
  application:
    name: ptstudio-ops-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:test}

server:
  port: ${SERVER_PORT:8082}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://127.0.0.1:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: health,info
