spring:
  application:
    name: ptstudio-cloud-gateway
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_SERVER_ADDR:127.0.0.1:8848}
    gateway:
      routes:
        - id: ptstudio-ops-service
          uri: lb://ptstudio-ops-service
          predicates:
            - Path=/api/ops/**
        - id: ptstudio-biz-service
          uri: lb://ptstudio-biz-service
          predicates:
            - Path=/api/**,/v3/api-docs/**,/swagger-ui/**

server:
  port: ${SERVER_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info
